@page "/"
@using MudBlazor
@inject IncompatibleFoodService _service

<section class="content">

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 col-md-8">
                <!-- POST -->
                @if (DataList is not null)
                {
                    @foreach (var item in DataList.Data ?? new())
                    {

                        <div class="post text-center">
                            <div class="clearfix"></div>
                            <div class="wrap-ut pull-left">
                                <div class="posttext pull-left text-center">
                                    <h2>
                                        <span>@item.FoodA</span>
                                        +
                                        <span>@item.FoodB</span>
                                        =>
                                        <span>@item.Description</span>
                                    </h2>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    }
                    @if (DataList.PageSetting is not null)
                    {
                        <div class="d-flex flex-column align-center my-5">
                            <MudPagination Rectangular="true"
                                           Variant="Variant.Outlined"
                                           Count="@DataList.PageSetting.PageCount"
                                           SelectedChanged="PageChanged"
                                           BoundaryCount="2" MiddleCount="3" />
                        </div>
                    }
                }
            </div>

            <div class="col-lg-4 col-md-4">

                <!-- -->
                @if (CategoryList is not null)
                {

                    <div class="sidebarblock">
                        <h3>Categories</h3>
                        <div class="divline"></div>
                        <div class="blocktxt">
                            <ul class="cats">
                                @foreach (var item in CategoryList.Data ?? new())
                                {
                                    <li><a href="javascript:void(0);" @onclick="@(() => {_category = @item.Name;PageChanged(1);})">@item.Name <span class="badge pull-right">@item.Count</span></a></li>
                                }
                            </ul>
                        </div>
                    </div>

                }

            </div>

        </div>
    </div>

</section>
